In [1]:
import pandas as pd
import numpy as np
import os

In [5]:
df = pd.read_csv("../../merged_data.csv")
df.head()

,shop_id,item_id,item_price,item_cnt_day,en_shop,Region,day,month,year,category_id,category,big_cate,small_cate
0,59,22154,999.0,1.0,"Yaroslavl Shopping center ""Altair""",Yaroslavl,2,1,2013,37,Cinema - Blu-Ray,Cinema,Blu
1,59,22151,399.0,1.0,"Yaroslavl Shopping center ""Altair""",Yaroslavl,10,1,2013,40,Cinema - DVD,Cinema,DVD
2,59,5603,699.0,1.0,"Yaroslavl Shopping center ""Altair""",Yaroslavl,4,1,2013,5,Accessories - PSVita,Accessories,PSVita
3,59,5587,199.0,2.0,"Yaroslavl Shopping center ""Altair""",Yaroslavl,19,1,2013,5,Accessories - PSVita,Accessories,PSVita
4,59,5613,5571.0,1.0,"Yaroslavl Shopping center ""Altair""",Yaroslavl,31,1,2013,2,Accessories - PS3,Accessories,PS3

In [61]:
df["big_cate"].unique()

array(['Cinema ', 'Accessories ', 'PC Games ', 'Games ', 'Music ',
       'Gifts ', 'Payment cards ', 'Programs ', 'Game Consoles ',
       'Books ', 'Elements of a food', 'Office',
       'Payment cards (Movies, Music, Games)', 'Tickets (figure)',
       'Official ', 'Clean media (piece)', 'Clean carriers (spire)',
       'PC ', 'Книги ', 'Delivery of goods', 'Android games ',
       'MAC Games ', 'Payment Cards '], dtype=object)

In [65]:
region_list = df["Region"].unique()
region_list

array(['Yaroslavl', 'Moscow', 'Kursk', 'Krasnoyarsk', 'Volzhsky',
       'Voronezh', 'Adygea', 'Balashikha', 'Yakutsk', 'Colosseum',
       'Kaluga', 'Zhukovsky', 'Kazan', 'Online', 'Ufa', 'Nizhny',
       'Chekhov', 'Khimki', 'Surgut', 'Tyumen', 'SPb', 'RostovNaDonu',
       'Omsk', 'Samara', 'Novosibirsk', 'Sergiev', 'Vologda', 'Digital',
       'Outbound', 'RostovNaDon', 'Tomsk', 'N.Novgorod', 'Mytischi'],
      dtype=object)

In [63]:
bcbr = df.groupby(["Region","big_cate"])["item_cnt_day"].sum()

Region
Adygea          16
Balashikha      15
Chekhov         17
Colosseum       17
Digital          9
Kaluga          15
Kazan           16
Khimki          16
Krasnoyarsk     17
Kursk           15
Moscow          18
Mytischi        14
N.Novgorod      15
Nizhny          15
Novosibirsk     17
Omsk            16
Online          16
Outbound        11
RostovNaDon     15
RostovNaDonu    17
SPb             16
Samara          17
Sergiev         15
Surgut          15
Tomsk           13
Tyumen          17
Ufa             17
Vologda         15
Volzhsky        18
Voronezh        17
Yakutsk         17
Yaroslavl       15
Zhukovsky       13
Name: item_cnt_day, dtype: int64