# 번역 : 러시아 to 영어

In [2]:
import pandas as pd
import numpy as np
from googletrans import Translator

In [3]:
trans = Translator()

In [48]:
en = trans.translate('Аксессуары - PS2	', dest='en')

In [49]:
en.text

'Accessories - PS2'

In [53]:
def translate(column):
    en_list=[]
    for word in column:
        en = trans.translate(word, dest='en')
        en_list.append(en.text)
    return en_list

# Categories translation

In [17]:
df = pd.read_csv('./data/sales_train_v2.csv')
df.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [23]:
categories = pd.read_csv('item_categories.csv')
categories.head()

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

In [54]:
categories["en_category"] = translate(categories["item_category_name"])

In [55]:
categories.head()

        item_category_name  item_category_id                 en_category
0  PC - Гарнитуры/Наушники                 0  PC - Headsets / Headphones
1         Аксессуары - PS2                 1           Accessories - PS2
2         Аксессуары - PS3                 2           Accessories - PS3
3         Аксессуары - PS4                 3           Accessories - PS4
4         Аксессуары - PSP                 4           Accessories - PSP

In [65]:
categories.to_csv("item_categories.csv", index=False)

In [62]:
shops = pd.read_csv("shops.csv")
shops.head()

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

In [63]:
shops["en_shop"] = translate(shops["shop_name"])

In [68]:
shops[10:20]

,shop_name,shop_id,en_shop
10,Жуковский ул. Чкалова 39м?,10,Zhukovsky Str. Chkalov 39m?
11,Жуковский ул. Чкалова 39м²,11,Zhukovsky Str. Chkalov 39 m²
12,Интернет-магазин ЧС,12,Online shop Emergency
13,"Казань ТЦ ""Бехетле""",13,"Kazan TC ""Bahetle"""
14,"Казань ТЦ ""ПаркХаус"" II",14,"Kazan TC ""ParkHaus"" II"
15,"Калуга ТРЦ ""XXI век""",15,"Kaluga TRC ""XXI Century"""
16,"Коломна ТЦ ""Рио""",16,"Colosseum ""Rio"""
17,"Красноярск ТЦ ""Взлетка Плаза""",17,"Krasnoyarsk Shopping center ""Vzletka Plaza"""
18,"Красноярск ТЦ ""Июнь""",18,"Krasnoyarsk Shopping center ""June"""
19,"Курск ТЦ ""Пушкинский""",19,"Kursk TC ""Pushkinsky"""

In [66]:
shops.to_csv('shops.csv', index=False)

In [69]:
items = pd.read_csv('items.csv')
items.head()

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [ ]:
items["en_item"] = translate(items['item_name'])